/*
*  Fonts that are added to the this project are included here,
*  which in turn, this file is imported in teh main stylesheet.
*/

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}


/*
*	This section contains the font-families.
*/

.arial {
	font-family: Arial;
}

.cambria {
	font-family: cambria;
}

.couriernew {
	font-family: "Courier New";
}

.lato {
	font-family: "Lato";

	.light { font-weight: 300; }
	.ultra-bold { font-weight: 900; }
}

.georgia {
	font-family: georgia;
}

.robotoslab {
	font-family: "Roboto Slab";

	.light { font-weight: 300; }
	.thin { font-weight: 100; }
}

.timesnewroman {
	font-family: "Times New Roman";
}

