/* AUTHOR: BERNAL, Kevin Lloyd H.
*
*  This project is aimed to be a cheat sheet for typogaphy typeface
*  and elements for rapid design progression.
*
*
*  Link: <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/

@import "compass/reset";
@import "compass/css3";
@import "fonts";

$bg_body: #f5f6f9;
$bg_box: #fff;
$bg_desc: #8e959e;

$color_websafe: #d5d8db;
$color_subheading: #424242;
$color_text: #222;

body {
	background-color: $bg_body;
	font-size: 18px;
	color: $color_text;
}

#wrapper {
	width: 960px;
	margin: 0 auto;		
}			

div.content {
	overflow: auto;
}

/* contains the typeface element examples */
div.box {

	&:first-child { margin-top: 40px; }

	position: relative;
	overflow: hidden;
	margin: 40px 0;
	padding: 20px 15px;
	width: 930px;
	background-color: $bg_box;

	@include border-radius(12px);

	h1 {

		&:hover{ 
			cursor: pointer;
		}

		font-size: 4.5em;
	}

	h3 {
		font-size: 2em;
		color: $color_subheading;
		margin-top: 10px;
	}

	div.variant {
		width: 425px;
		float: left;
		margin: 10px 20px;	

		p {
			margin: 15px 0;
			text-indent: 3em;
			line-height: 1.3em;
		}
	}

	p.description {
		color: $bg_desc;
		margin-top: 8px;
	}
}


