/* AUTHOR: BERNAL, Kevin Lloyd H.
*
*  This project is aimed to be a cheat sheet for typogaphy typeface
*  and elements for rapid design progression.
*
*
*  Link: <link href="/stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
/* line 17, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../DEPENDENCIES/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
*  Fonts that are added to the this project are included here,
*  which in turn, this file is imported in teh main stylesheet.
*/
/* line 6, ../sass/_fonts.scss */
.bold {
  font-weight: bold;
}

/* line 10, ../sass/_fonts.scss */
.italic {
  font-style: italic;
}

/*
*	This section contains the font-families.
*/
/* line 19, ../sass/_fonts.scss */
.arial {
  font-family: Arial;
}

/* line 23, ../sass/_fonts.scss */
.cambria {
  font-family: cambria;
}

/* line 27, ../sass/_fonts.scss */
.couriernew {
  font-family: "Courier New";
}

/* line 31, ../sass/_fonts.scss */
.lato {
  font-family: "Lato";
}
/* line 34, ../sass/_fonts.scss */
.lato .light {
  font-weight: 300;
}
/* line 35, ../sass/_fonts.scss */
.lato .ultra-bold {
  font-weight: 900;
}

/* line 38, ../sass/_fonts.scss */
.georgia {
  font-family: georgia;
}

/* line 42, ../sass/_fonts.scss */
.robotoslab {
  font-family: "Roboto Slab";
}
/* line 45, ../sass/_fonts.scss */
.robotoslab .light {
  font-weight: 300;
}
/* line 46, ../sass/_fonts.scss */
.robotoslab .thin {
  font-weight: 100;
}

/* line 49, ../sass/_fonts.scss */
.timesnewroman {
  font-family: "Times New Roman";
}

/* line 22, ../sass/main.scss */
body {
  background-color: #f5f6f9;
  font-size: 18px;
  color: #222222;
}

/* line 28, ../sass/main.scss */
#wrapper {
  width: 960px;
  margin: 0 auto;
}

/* line 33, ../sass/main.scss */
div.content {
  overflow: auto;
}

/* contains the typeface element examples */
/* line 38, ../sass/main.scss */
div.box {
  position: relative;
  overflow: hidden;
  margin: 40px 0;
  padding: 20px 15px;
  width: 930px;
  background-color: white;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
}
/* line 40, ../sass/main.scss */
div.box:first-child {
  margin-top: 40px;
}
/* line 51, ../sass/main.scss */
div.box h1 {
  font-size: 4.5em;
}
/* line 53, ../sass/main.scss */
div.box h1:hover {
  cursor: pointer;
}
/* line 60, ../sass/main.scss */
div.box h3 {
  font-size: 2em;
  color: #424242;
  margin-top: 10px;
}
/* line 66, ../sass/main.scss */
div.box div.variant {
  width: 425px;
  float: left;
  margin: 10px 20px;
}
/* line 71, ../sass/main.scss */
div.box div.variant p {
  margin: 15px 0;
  text-indent: 3em;
  line-height: 1.3em;
}
/* line 78, ../sass/main.scss */
div.box p.description {
  color: #8e959e;
  margin-top: 8px;
}
